@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>Tim Tid-Bits</h3>

<p>Science, Math, and singing in the choir were my favorite subjects growing up. I decided on getting a Bachelor of Music in Vocal Performance because I dreamed of performing at the Met. After six years of chasing the Dream, and performing as a chorister in over two dozen professional operas, I went back to CSUF to get my Single Subject Teaching credential in Foundation Math and Beginning Voice. After 5 years of teaching in Santa Ana, California my wife and I picked up stakes and moved to Fort Collins, Colorado. The plan being that I would teach in Greeley. Life just didn't work out that way and to better provide for my family I attended the Turing School of Software and Design. It was the most challenging and rewarding 7 months of my life. I had the opportunity to work 10 hours a day with some of the brightest, hard-working, and helpful people you will ever meet. I continue to seek out a software company that not only knows how to increase their ROI but also to foster the growth of their developers. I bring to a company the spirit of an Educator, the tenacity of a musician, and the selflessness of a father.</p><a href="https://www.linkedin.com/in/timproctor">Let's Build Something Great!</a>
