@{
    ViewData["Title"] = "Contact";
}
<h3>Let's Connect!</h3>

<address>
    Colorado Springs, CO, 80922<br />
    <abbr title="Phone">P:</abbr>
    714.401.2809
</address>

<address>
    <strong>LinkedIn</strong> <a href="https://www.linkedin.com/in/timproctor">Let's Build Something Great!</a><br />
</address>
